@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": rgb(134, 7, 7),
    ),
    "success": (
      "base": #21ba45,
    ),
    "warning": (
      "base": #f2711c,
    ),
    "danger": (
      "base": #db2828,
    ),
    "error": (
      "base": #db2828,
    ),
    "info": (
      "base": #42b8dd,
    ),
    "success12": (
      "base": #21ba45,
    ),
  )
);
// $--table-header-border-color: #EDF0F1;
:root {
  --el-menu-hover-bg-color: #eaf3ff;
  
  --el-fill-color-lighter: #F6F7FB; // 表格斑马线背景色

  --el-text-color-regular: #565859;

  --table-header-border-color: #edf0f1;
}
